nav {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.75);
  position: sticky;
  top: 0;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dde0e6;
  z-index: 50;
  backdrop-filter: blur(2px);
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  cursor: pointer;
}
.brand img {
  width: 25px;
  margin-right: 10px;
}

.brand h1 {
  color: #0f531e;
  font-weight: 600;
  font-size: 18px;
}

.brand h1 span {
  font-weight: 300;
}
