.nav {
  position: sticky;
  top: 0;
  z-index: 40;
}

* {
  scroll-behavior: smooth;
  transition: 0.5s ease;
}

.nav-list .nav-item {
  margin: 0 20px;
  font-size: 15px;
  font-weight: 500;
}

.nav-list .nav-item:hover {
  text-decoration: none;
  color: green;
  /* font-weight: bolder; */
}

.nav .nav-item2 {
  font-size: 15px;
  font-weight: 500;
}
.nav .nav-item2:hover {
  text-decoration: none;
  color: green;
}

.header-text {
  font-size: 72px;
  background: -webkit-linear-gradient(#2c8b2c, #3b3b3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.copyright {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

.nav .active {
  background-color: #c3f6c3;
  padding: 7px 11px;
  border-radius: 10px;
  color: green;
  /* margin-right: 40px; */
  font-size: 15px;
  font-weight: 500;
  opacity: 0.9;
  /* filter: alpha(opacity=90); */
}

.nav .active:hover {
  text-decoration: none;
  color: green;
}

.scroll {
  position: fixed;
  bottom: 6.5%;
  right: 2%;
}
