.element {
  display: inline-block;
  font-size: 1px;
  padding: 1px;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
  /* animation: slide 5s infinite;
  animation-direction: backward; */
  opacity: 0.9;
  place-items: center;
  transition: 0.5s;
}
.slider {
  height: 100%;
  position: relative;
  width: 100%;

  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider::before,
.slider::after {
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  width: 25%;
  /* z-index: 2; */
  pointer-events: none;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slide-track {
  width: calc(150px * 20);
  display: flex;
  animation: scroll 20s linear infinite;
  animation-direction: normal;
  justify-content: space-between;
}
.slide-track2 {
  width: calc(150px * 20);
  display: flex;
  animation: scroll 20s linear infinite;
  animation-direction: reverse;
  justify-content: space-between;
}
@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 10));
  }
}
/* @keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(42px);
  }
  50% {
    transform: translateX(60px);
  }
  75% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(100px);
  }
} */
