.pres-form {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  max-width: 570px;
  height: 800px;
  /* margin: 0 auto; */
  margin: 40px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 30px;
  border-radius: 5px;
}
.pres-container {
  width: 550px;
}
.plogo1 {
  float: left;
  width: 45px;
  margin-left: 50px;
}
.plogo2 {
  float: right;
  height: 60px;
  width: 60px;
  margin-right: 50px;
}
.phead-data {
  float: left;
  width: 500px;
}
.pheader {
  display: flex;
}
.pheader p {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 8px;
  line-height: 10px;
}
.ph2 {
  text-align: center;
  margin-top: 5px;
  font-weight: bolder;
  color: black;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.5;
}
.pdate {
  font-family: "Calibri";
  display: inline-block;
  font-size: 12px;
}
.pdate-line {
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1px solid black;
  width: 100px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  padding: 5px;
}
.pfullname {
  font-family: "Calibri";
  display: inline-block;
  font-size: 10px;
}
.pfullname-line {
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1px solid black;
  width: 440px;
  font-size: 10px;
  display: inline-block;
  margin-left: 5px;
  text-align: center;
  padding: 5px;
}
.pdetails {
  font-family: "Calibri";
  display: inline-block;
  font-size: 12px;
}
.psig {
  font-family: "Calibri";
  display: inline-block;
  font-size: 12px;
}
.pdetails-line {
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1px solid black;
  width: 35px;
  font-size: 10px;
  display: inline-block;
  margin-left: 5px;
  text-align: center;
  padding: 5px;
}
.pward-line {
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1px solid black;
  width: 80px;
  font-size: 10px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 5px;
  text-align: center;
  padding: 5px;
}
.quantity-line {
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1px solid black;
  width: 80px;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 5px;
  text-align: center;
  padding: 5px;
}
.rx {
  font-size: 25px;
  font-weight: bolder;
  margin-left: 5px;
}
.pgeneric-line {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  border-bottom: 1px solid black;
  width: 340px;
  font-size: 14px;
  display: inline-block;
  margin-left: 5px;
  text-align: left;
  margin-right: 10px;
  padding: 5px;
}
.psig-line {
  font-family: "Times New Roman", Times, serif;
  /* font-weight: bolder; */
  /* border-bottom: 1px solid black; */
  width: 250px;
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
  /* text-align: center; */
  margin-right: 10px;
  padding: 5px;
}
.signature {
  margin-top: 30px;
  text-align: right;
  font-size: 10px;
}
.signature-label {
  font-family: "Calibri";
  font-size: 10px;
  display: inline-block;
}
.sign-line {
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1px solid black;
  width: 150px;
  font-size: 8.5px;
  display: inline-block;
  text-align: center;
  word-spacing: 3px;
  margin-left: 5px;
  padding: 5px;
}
.ra {
  font-family: "Calibri";
  text-align: center;
  font-size: 9px;
  margin-top: 15px;
}
.pfooter p {
  font-family: "Times New Roman", Times, serif;
  font-size: 9px;
  display: inline;
  text-align: center;
  margin-left: 70px;
  position: static;
}
.meds-container {
  width: 530px;
  height: 380px;
}
