/* .referral-form {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 30px;
  border-radius: 5px;
} */

.referral-form {
  width: 100%;
  max-width: 1100px;
  /* margin: 0 auto; */
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 30px;
  border-radius: 5px;
}
.referral-form-search {
  width: 100%;
  /* max-width: 900px; */
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 30px;
  border-radius: 5px;
}

.block {
  margin-bottom: 40px;
}

.block h1 {
  font-weight: 500;
  font-size: 20px;
  color: #272727;
  margin-bottom: 20px;
}

.block label {
  font-size: 14px;
  color: #272727;
  font-weight: 400;
}

.block label span {
  color: red;
}

.inline-block-2 {
  display: flex;
  justify-content: space-between;
}

.input-container {
  width: 100%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-container-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.input-container-2 {
  display: flex;
  flex-direction: column;
  width: 49%;
  margin-bottom: 20px;
}

.input-container-4 {
  display: flex;
  flex-direction: column;
  width: 24%;
  margin-bottom: 20px;
}

.input-container-5 {
  display: flex;
  flex-direction: column;
  width: 19%;
  margin-bottom: 20px;
  justify-content: space-between;
}

.input-container-3 {
  display: flex;
  flex-direction: column;
  width: 32.5%;
  margin-bottom: 20px;
}

.input-container-4 input,
.input-container-4 select,
.input-container-3 input,
.input-container-3 select,
.input-container-2 select,
.input-container-2 input,
.input-container-5 input,
.input-container-5 select,
.input-container-1 select {
  margin-top: 5px;
}

input.firstname,
input.middlename,
input.lastname {
  width: 28%;
}

.referral-form input:hover,
.referral-form input:focus,
.referral-form select:focus,
.referral-form select:hover {
  border: 1px solid rgb(26, 143, 26);
  border-bottom: 2px solid rgb(26, 143, 26);
  transition: 0.1s ease-in-out;
}

.referral-form input,
.referral-form select {
  font-size: 14px;
  outline: none;
  border: 1px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
  transition: 0.1s ease-in-out;
  height: 40px;
  border-radius: 5px;
  padding: 0px 10px;
}

.referral-form input::placeholder,
.referral-form select::placeholder {
  font-size: 14px;
}

.referral-form textarea {
  width: 100%;
  border: 1px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
  height: 100px;
  outline: none;
  padding: 10px;
  min-height: 50px;
  min-width: 300px;
  font-size: 14px;
}

.referral-form textarea:hover,
.referral-form textarea:focus {
  border: 1px solid rgb(26, 143, 26);
  border-bottom: 2px solid rgb(26, 143, 26);
  transition: 0.1s ease-in-out;
}

input.suffix {
  width: 12%;
}

.referral-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* button {
  cursor: pointer;
  padding: 10px;
  min-width: 90px;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: 0.1s ease-in-out;
  font-size: 12px;
  font-weight: 500;
} */

button.primary-cta {
  color: #fff;
  background: #1cb45d;
}

button.primary-cta-disable {
  color: #fff;
  background: #1cb45d;
  opacity: 0.5;
  pointer-events: none;
}

button.primary-cta:hover {
  background: #189e52;
}

.referral-form-search input:hover,
.referral-form-search input:focus,
.referral-form-search select:focus,
.referral-form-search select:hover {
  border: 1px solid rgb(26, 143, 26);
  border-bottom: 2px solid rgb(26, 143, 26);
  transition: 0.1s ease-in-out;
}

.referral-form-search input,
.referral-form-search select {
  font-size: 14px;
  outline: none;
  border: 1px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
  transition: 0.1s ease-in-out;
  height: 40px;
  border-radius: 5px;
  padding: 0px 10px;
}

.referral-form-search input::placeholder,
.referral-form-search select::placeholder {
  font-size: 14px;
}

.referral-form-search textarea {
  width: 100%;
  border: 1px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
  height: 100px;
  outline: none;
  padding: 10px;
  min-height: 50px;
  min-width: 300px;
  font-size: 14px;
}

.referral-form-search textarea:hover,
.referral-form-search textarea:focus {
  border: 1px solid rgb(26, 143, 26);
  border-bottom: 2px solid rgb(26, 143, 26);
  transition: 0.1s ease-in-out;
}

.ie label {
  margin-bottom: 10px;
}

.ie input {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  height: 23px;
  padding: 3px;
}

.gp input {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  height: 20px;
  padding: 5px;
}

.ie {
  margin-top: 2px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 5px 2px 8.2px 17px;
  width: auto;
}

.gp {
  margin-top: 5px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 4.5px 2px 4px 26px;
  width: auto;
}

.ie input:focus,
.ie input:hover,
.gp input:focus,
.gp input:hover {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}
.ie small {
  font-weight: 600;
  font-size: 13px;
  margin-right: 15px;
}

.gp small {
  font-weight: 600;
  font-size: 13px;
}

.bow {
  margin-top: 1px;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 2px 0px 2px 20px;
}

.bow small {
  margin: 10px 30px 0px 5px;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}
