.rlogo1 {
  float: left;
  width: 60px;
  height: 75px;
  margin-left: 30px;
}
.rlogo2 {
  float: right;
  width: 80px;
  height: 75px;
  margin-right: 30px;
}
.rhead-data {
  float: left;
  width: 700px;
}
.rheader {
  width: 100%;
  max-width: 730px;
  display: flex;
}
.rheader p {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 10px;
  line-height: 11px;
}
.rheader h2 {
  text-align: center;
  font-weight: bolder;
  color: black;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.5;
  padding-bottom: 10px;
}
.rtable {
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  max-width: 730px;
}

.cell {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #a9a9a9;
  border-bottom: 0;
  text-align: left;
  font-size: 13px;
  padding: 0px 0px 5px 5px;
  font-weight: bolder;
}
.cell p {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  font-size: 13px;
  padding: 0px 0px 5px 2px;
  font-weight: 300;
  margin-left: 5px;
}
.diagnosis {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #a9a9a9;
  border-bottom: 0;
  text-align: left;
  font-size: 13px;
  padding: 0px 0px 8px 5px;
}
.major-label {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  font-size: 13px;
  font-weight: bolder;
  padding: 0px 0px 5px 5px;
  border: 1px solid #a9a9a9;
  border-bottom: 0;
  margin-bottom: 30px;
}
.med-header {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #a9a9a9;
  text-align: left;
  font-size: 13px;
  border-bottom: 0;
}
.med-box {
  display: flex;
  margin-right: 50px;
}
.med-data {
  margin-top: 8px;
}
.checkbox {
  width: 1px;
  padding: 6px;
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-left: 3px;
}
.med-label p {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  color: black;
  text-align: left;
  margin-left: 3px;
  /* font-weight: bolder; */
}
.med {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  border: 1px solid #a9a9a9;
  border-bottom: 0;
  font-size: 12px;
  font-weight: bolder;
  padding: 0px 0px 10px 0px;
}
.med-cell {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  border: 1px solid #a9a9a9;
  border-bottom: 0;
  font-size: 12px;
  padding: 0px 0px 10px 0px;
}
#para {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  display: inline;
}
#email {
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  color: blue;
  display: inline;
  margin-left: 3px;
}
.rb {
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  display: block;
  margin-bottom: 10px;
  margin-left: 3px;
}
.float-container {
  margin-left: 60px;
  font-size: 13px;
}

.float-child1 {
  width: 50%;
  float: left;
}
.float-child1 label {
  font-family: "Times New Roman", Times, serif;
}

.float-child2 {
  width: 50%;
  float: right;
}
.float-child2 label {
  font-family: "Times New Roman", Times, serif;
}
.rname {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  margin-top: 30px;
  word-spacing: 3px;
}
.rlabel {
  display: inline-block;
  line-height: 1;
}
.hr-sign {
  font-family: "Times New Roman", Times, serif;
  border-top: 1px solid #a9a9a9;
  width: 200px;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}
.hr-date {
  font-family: "Times New Roman", Times, serif;
  border-top: 1px solid #a9a9a9;
  width: 200px;
  margin-left: 20px;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  padding-top: 0;
}
.hr-watcher {
  font-family: "Times New Roman", Times, serif;
  border-top: 1px solid #a9a9a9;
  width: 250px;
  margin-top: 30px;
  margin-left: 230px;
  font-size: 13px;
  padding-bottom: 10px;
}
.border1 {
  border-left: 1px solid #a9a9a9;
  border-right: 1px solid #a9a9a9;
}
/* .border2 {
  text-align: center;
  border: 1px solid #a9a9a9;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
} */
/* .border2-para{
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  margin-right: 20px;
  font-weight: 400;
} */
/* .borders {
 
  border-top: 0;
  font-size: 13px;
  /* margin-top: 30px;
} */
