.sidebar {
  width: 30%;
  min-width: 250px;
  max-width: 280px;
  max-height: 100vh;
  overflow-y: auto;
  background: #4a7659;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  left: 0;
  border-right: 1px solid #e9ecf0;
  display: flex;
  flex-direction: column;
  z-index: 50;
}

.sidebar.close {
  width: 60px;
  min-width: 0px;
}

.sidebar.close .navlinks span {
  display: none;
}

.sidebar.close .navlinks {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar.close .navlinks li {
  border-radius: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding-left: 15px;
}

.sidebar.close .navlinks li.active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.sidebar-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.sidebar.close .sidebar-header {
  justify-content: center;
  padding: 0px;
}

.menu-burger {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.1s ease-in-out;
  font-size: 18px;
  color: #333;
}

.menu-burger:hover {
  transition: 0.1s ease-in-out;
  background: rgb(0, 0, 0, 0.3);
}

.sidebar-header img {
  width: 40px;
  margin-right: 15px;
}

.sidebar-header h1 {
  font-weight: 600;
  font-size: 22px;
}

.sidebar-header h1 span {
  font-weight: 300;
}

.navlinks {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 50px 0px;
  padding-right: 20px;
}

.navlinks li {
  margin-bottom: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 15px;
  color: #ebebeb;
  cursor: pointer;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.navlinks li p {
  margin-right: 15px;
  font-size: 18px;
}

.navlinks li:hover {
  background: #eaebee;
  color: #272727;
}

.navlinks li.active {
  font-weight: 500;
  color: #272727;
  background: #e0f8e5;
}

.navlinks li.active p {
  color: #0f531e;
}

.sidebar.close .sidebar-user {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.close .sidebar-user img {
  margin: 0px;
}

.sidebar.close .sidebar-user .user {
  display: none;
}

.sidebar-user {
  width: 100%;
  height: auto;
  /* border-top: 1px solid #dfdfdf; */
  display: flex;
  align-items: center;
  padding: 0px 20px;
  background-color: #8fc0a9;
}

.sidebar-user img {
  width: 35px;
  min-width: 35px;
  height: 35px;
  min-height: 35px;
  border-radius: 50%;
  border: 2px solid #eee;
  background: #4a7659;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

.user {
  cursor: pointer;
  border-radius: 6px;
  padding: 5px 10px;
}

.user h1 {
  color: #4a7659;
  font-size: 14px;
  font-weight: 600;
}

.user p {
  font-size: 12px;
  color: #4a7659;
  font-weight: 400;
}

.user small {
  color: #4a7659;
}

@media screen and (max-width: 768px) {
  .sidebar {
    min-width: 0;
    width: 60px;
  }
}
