.img-container {
  position: relative;
  margin-top: 25px;
}

.left-lab {
  position: absolute;
  top: 20px;
  left: 55px;
}

.top-lab {
  position: absolute;
  top: 0px;
  right: 158px;
}

.right-lab {
  position: absolute;
  top: 20px;
  right: 67px;
}

.bottom-lab {
  position: absolute;
  bottom: 0px;
  right: 158px;
}

.input-lab {
  width: 60px;
  padding: 2px;
  font-size: 16px;
  text-align: center;
  border: none;
}
