@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Poppins", sans-serif; */
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: 600 !important;
}

.textColor {
  color: "#058e46" !important;
}

.bgGreen {
  background: "#058e46" !important;
}
